 {% extends "base.html" %} {% block navlinks %}
<li>
    <a id="clear-data" href="form?action=acquisition">Create a New Acquisition</a>
</li>
<li>
    <a href="list?action=acquisition">List Acquisitions</a>
</li>
{% endblock %} {% block mainstuff %}
<div class="col-lg-7" id="form-div">
</div>
{% endblock %} {% block sidebar %}
<div class="col-lg-5">
    <div class="row">
        <h3>Donors
        </h3>
        <div id="donors-list">
        </div>
    </div>
    <div class="row">
        <h3>Sources
        </h3>
        <div id="sources-list">
        </div>
    </div>
    <div class="row">
        <h3>Restrictions
        </h3>
        <div id="restriction-list">
        </div>
    </div>
    <div class="row">
        <h3>Physical Media
        </h3>
        <div id="physmedia-list">
        </div>
    </div>
</div>
{% endblock %}

{% block scriptstuff %}
<script type="text/javascript" src="{{ url_for("static", filename="recordPages.js") }}"></script>
{% endblock %}