<!DOCTYPE html>
<html>
    <head>
      	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Library Digital Repository</title>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
	    	<nav class="navbar navbar-default navbar" role="navigation">
			    <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    		<span class="sr-only">Toggle navigation</span>
                    		<span class="icon-bar"></span>
                    		<span class="icon-bar"></span>
                    		<span class="icon-bar"></span>
                	</button>
			<p class="navbar-brand">Library Digital Repository Accessions</p>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				{% block navigation_links %}
				{% endblock %}
			</ul>
		</div>
            </nav>
            <div class="row">
                <div class="col-sm-12">
					{% block header %}
					{% endblock %}

					{% block stuff %}
					{% endblock %}

                </div>
            </div>
        </div>
    	<script src="https://y2.lib.uchicago.edu/static/jquery.min.js"></script>
    	<script src="https://y2.lib.uchicago.edu/static/bootstrap.min.js"></script>
    </body>
</html>