{% extends "base.html" %} {% block navigation_links %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for("inventory.get_an_inventory", accession_id=accession_id, page_num=objid) }}">
            Back to Inventory Page
        </a>
</li>
{% endblock %} {% block header %}
<h2>Changing a Restriction for a MaterialSuite</h2>
<form method="POST" action="{{ url_for("restriction_change.make_a_change", accessionid=accession_id, objid=objid) }}">
    <div class="form-group">
        <label for="objectid">
        Object to change
    </label>
        <input class="form-control" type="text" id="object-id" name="object-id" value="{{ objectToChange }}" required="True" , readonly="True"
        />
    </div>
    <div class="form-group">
        <label for="current-restriction">
        The object's current restrictions
    </label>
        <input class="form-control" type="text" id="current-restriction" name="current-restriction" value="{{ currentRestriction }}"
            required required="True" , readonly="True" />
    </div>
    <div class="form-group">
        <label for="desired-restriction">The New Restriction You Want To Set</label>
        <select class="form-control" id="desired-restriction" name="desired-restriction" required="True">
        <option value="O">O</option>
        <option value="OU">OU</option>
        <option value="R-DA">R-DA</option>
        <option value="DR-##">DR-##</option>
        <option value="OO-##">OO-##</option>
        <option value="R-30">R-30</option>
        <option value="R-50">R-50</option>
        <option value="R-80">R-80</option>
        <option value="R-##D">R-##D</option>
        <option value="R-X">R-X</option>
        <option value="RP30">RP30</option>
        <option value="MR-ISODATE">MR-ISODATE</option>
        <option value="R-S">R-S</option>
    </select>
    </div>
    <div class="form-group">
        <label for="comment">Comment About the New Restriction</label>
        <input class="form-control" type="text" id="comment" name="comment" />
    </div>
    <input type="submit" value="Change" />
</form>
{% endblock %}