{% extends "base.html" %} {% block header %}
<div class="col-sm-4">
    <h3>Stages</h3>
    <p>
        These are accessions that have recently been received by the LDR.
    </p>
    <dl>
    {% for n in stages %}
        <dt>{{ n }}</dt>
    {% endfor %}
    </dl>
</div>
<div class="col-sm-4">
    <h3>Pending</h3>
    <p>
        These are accessions that are in the longterm storage environment but have not had permanent URLS created.
    </p>
   <dl>
    {% for n in pending %}
        <dt>{{ n }}</dt>
    {% endfor %}
    </dl>


</div>
<div class="col-sm-4">
    <h3>Archives</h3>
    <p>
        These are accessions that are in the longterm storage environment and have permanent URLS for
    </p>
   <dl>
    {% for n in inventoried %}
        <dt><a href="{{ url_for("dashboard.close_up_view", accessionid=n) }}">{{ n }}</a></dt>
    {% endfor %}
    </dl>

</div>
{% endblock %}

{% block navigation_links %}
    <li class="nav-item">
        <a class="nav-link" href="index.html">Back to Accessions List</a>
    </li>
{% endblock %}
